---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 
    "reset",
    "variables",
    "syntax-highlight"
                ;

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    position: relative;

    font-family: $global-font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $text-color;
    background-color: $body-color;

    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;

    @media screen and (max-width: $medium) { font-size: 14px; }
}

a {
    text-decoration: none;
    color: $text-color;

    &:visited {
        text-decoration: none;
        color: $text-color;
    }
    &:hover, &:active {
        text-decoration: underline;
        color: $text-color;
    }
}

ul {
    padding-bottom: 1em;

    li {
        position: relative;
        padding-left: 1em;

        &:before {
            position: absolute;
            left: 0;
            content: ">"
        }
        
        ul {
            padding-bottom: 0;
        }
    }
}

hr {
    border: 0 none;
    border-top: 2px dashed $text-color;
    background: none;
    height:0;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
    line-height: 2em;
}
h3 {
    font-size: 1.17em;
    line-height: 1.5em;
}
h4 {
    font-size: 1em;
}

/* Main */
.main {
    position: relative;
    
    max-width: $large;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3.5em;
    
    &:after {
        content: "";
        clear: both;
        display: table;
    }

    @media screen and (max-width: $medium) {
        margin: 0;
        padding-left: 2em;
        padding-right: 2em;
    }
}

/* Sidebar */
.sidebar {
    float: left;
    width: 25%;
    margin-left: 40px;

    @media screen and (max-width: $medium) {
        float: none;
        width: 100%;
        margin-bottom: 4em;
        margin-left: 0;
    }
}

.sticky {
    @media screen and (min-width: $medium) {
        position: -webkit-sticky;
        position: sticky;
        top: 3.5em;
    }
}

.author-content {
    .ascii {
        font-size: 0.9em;
        color: white;
        margin-top: -0.5em;
        margin-bottom: 2em;
    }

    .name {
        margin-bottom: 0.5em;
        font-size: 2em;
    }

    .bio {
        margin-bottom: 3em;
        font-size: 1.2em;

        p {
            margin-bottom: 0.3em;
        }
    }
}

.author-url {
    li {
        font-size: 1.2em;
        margin-bottom: 0.6em;

        @media screen and (max-width: $medium) { font-size: 1.4em; }
    }
}

/* Content */
.home {
    float: left;
    width: 60%;
    margin-left: 3em;

    @media screen and (max-width: $medium) {
        float: none;
        width: 100%;
        margin-left: 0;
    }

    @media screen and (max-width: $small) {
        font-size: 12px;
    }

    .page-heading {
        font-size: 2.5em;
    }
}

.post-list {

    li {
        font-size: 1.2em;
        line-height: 1.5;

        @media screen and (max-width: $medium) { font-size: 1.4em; }
    }

    .post-link { display: block; }

    .post-date { 
        float: left;
        color: $date-color;
        
        // fix missing underline when hovered
        text-decoration: inherit;
    }
    .post-title { margin-left: 6em; }
}

/* Footer */
.footer {
    position: relative;
    clear: both;
    height: 80px;

    h3 {
        position: absolute;
        right: 1em;
        bottom: 1em;
    }
}

/* Post */
.back-home {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    a {
        font-size: 1.2em;
    }
}

.post {
    padding-top: 3em;
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;

    .post-header {
        margin-bottom: 2em;
    }

    .post-title {
        font-size: 2em;
        margin-bottom: 0.4em;
    }
    
    .post-date {
        padding-left: 1.7em;
        color: $date-color;
        font-size: 1.2em;
    }

    .post-content {
        font-size: 1.2em;
        line-height: 1.5em;
        // text-align: justify;

        p { 
            margin-bottom: 1em;

            code {
                padding: 4px 6px;
                border-radius: 3px;
                font-size: 0.8em;
                color: $code-color;
                background-color: $code-bg-color;
            }
        }

        a {
            color: $link-color;
            text-decoration: underline;

            &:hover, &:active {
                color: $link-hover-color;
            }
        }
    }

    .highlight {
        margin-bottom: 2em;

        pre {
            border-radius: 0.5em;
            padding: 40px 20px;
        }
    }

    figure {
      figcaption {
        text-align: center;
        margin-bottom: 1em;
      }
    }

    img {
      display: block;
      margin-right: auto;
      margin-left: auto;
      max-width: 60%;
      height: auto;
      border-radius: 8px;
    }
}
