/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

$global-font-family: 'Inconsolata', monospace;
$font-size: 16px;
$font-weight: 400;

$body-color: #1a1a1a;
$code-color: #f6b027;
$code-bg-color: #383838;
$text-color: #e6e6e6;
$link-color: #69a8f0;
$link-hover-color: #5366f0;
$date-color: #f6b027;

$small: 380px;
$medium: 760px;
$large: 1024px;